@page "/"
@using SoCal.Quiz.QuestionEditor.Service.DTOs

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

@if (_guilds == null)
{
    <p>Loading...</p>
}
else if (!_guilds.Any())
{
    <p>No guilds available.</p>
}
else
{
    <DataGrid TItem="GuildDto" Data="@_guilds" Editable="false">
        <DataGridColumn TItem="GuildDto" Field="Name" Caption="Guild Name" />
        <DataGridColumn TItem="GuildDto" Field="@nameof(GuildDto.Id)" Caption="">
            <DisplayTemplate>
                <Button Color="Color.Success" Clicked="@(() => NavigateToQuestionBanks(context))" />
            </DisplayTemplate>
        </DataGridColumn>
    </DataGrid>
}
