@page "/questionBanks/{guildId}"
@if (_questionBanks == null)
{
    <p>Loading...</p>
}
else if (!_questionBanks.Any())
{
    <p>No question banks available.</p>
}
else
{
    <DataGrid TItem="string" Data="@_questionBanks" Editable="false">
        <DataGridColumn TItem="string" Field="." Caption="Bank Name">
            <DisplayTemplate>
                <Button Color="Color.Success" Clicked="@(() => NavigateToEditQuestionBank(context))" />
            </DisplayTemplate>
        </DataGridColumn>
    </DataGrid>
}

<button @onclick="NavigateToAddQuestionBank">Add Question Bank</button>
